html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    height: 68px;
    background-color: black;
    display: flex;
    display: space-between;
}
#header-nav-right{
    display: flex;
}
#header-nav-left{
    display: flex;
}
#nav li{
    display: inline-block;
    margin: 0 15px;
    transition: background-position-x 0.9s linear;
}
*,
*:before,
*:after {
    letter-spacing: 1.1px;
}
#nav li a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    line-height: 68px;
    transition: opacity linear 1s;
}
#nav li:hover a{
    opacity: 0.8;
}
#nav li:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    -webkit-animation: line-red 1s;
}
@-webkit-keyframes line-red {
    100% {
        background-position-x: 380px;
    }
}
#nav-search {
    display: flex;
}
#nav-search .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 68px;
}
#nav-infor {
    display: flex;
    flex-direction: row-reverse;
}
#nav-infor .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 68px;
    margin-right: 10px;
    display: none;
}
#nav-infor .bell-icon
{
    color: #fff;
    font-size: 20px;
    line-height: 68px;
    margin: 0px 10px;
    -webkit-animation: ring 4s 4s ease-in-out infinite;
}
#nav-infor .bell-icon:hover{
    opacity: 0.5;
    color: greenyellow;
}
.header-nav-left {
    flex: 1;
    justify-content: flex-end;
}
@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }
  
    43% { -webkit-transform: rotateZ(0); }
}
#header-nav{
    display: flex;
}
svg{
    margin-top: 13px;
}
.svg-wrapper {
      margin-top: 0;
      position: relative;
      width: 150px;
      height: 100%;
      display: inline-block;
      border-radius: 3px;
      margin-left: 5px;
      margin-right: 5px
  }
#shape {
      stroke-width: 6px;
      fill: transparent;
      stroke: #EA2027;
      stroke-dasharray: 90 100;
      stroke-dashoffset: -500;
      transition: 1s all ease;
}
#text {
      margin-top: -34px;
      text-align: center;
  }
#text a {
      color: white;
      text-decoration: none;
      font-weight: 100;
      font-size: 1.1em;
}
.svg-wrapper:hover #shape {
      stroke-dasharray: 30 0;
      stroke-width: 5px;
      stroke: #55E6C1;
  }
